#adopta {
    color: blueviolet;
    border: 5px solid;
}

.texto1{
    color:#A736E7;
}

.texto2{
    color:#A736E7;
}

form {
    color: blue;
}

h2{
    color: #A736E7;
}

.slogan{
    color: #A736E7;
}

.slogan{
    border-style: inset;
    border-color: #A736E7;
    border-radius: 6px;
}

#background{
    background-color: #4CAAE0;
s}